h1{
    color: #d1e233;
}

header {
    background-color: beige;
    width: 60%;
    margin: 0 auto;
    border-style: solid;
    border-width: 1px;
}


h1, div, h2 {
    width: 60%;
    margin: 50 auto;
}

article {
    background-color: beige;
    width: 60%;
    margin: 50 auto;
}

img {
    display: block;
    margin: 0 auto;
}

footer {
    width: 60%;
    margin: 0 auto;
    border-style: solid;
    border-width: 1px;

}